<div class="min-h-screen w-full overflow-hidden xl:flex">
  <!-- <p-confirmDialog></p-confirmDialog> -->
  <div class="shrink-0">
    <app-sidebar></app-sidebar>
    <app-backdrop></app-backdrop>
  </div>

  <div
    class="min-w-0 flex-1 overflow-hidden transition-all duration-300 ease-in-out"
    [ngClass]="{
      'xl:ml-72.5': isExpanded() || isHovered(),
      'xl:ml-22.5': !isExpanded() && !isHovered(),
      'ml-0': isMobileOpen()
    }"
  >
    <!-- app header start -->
    <app-header />
    <!-- app header end -->

    <main class="min-w-0 max-w-full overflow-x-hidden p-4 md:p-6">
      <div class="mx-auto w-full min-w-0 max-w-full overflow-hidden">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>