<main
  class="relative min-h-screen overflow-hidden px-4 md:px-8 flex flex-col items-center justify-center"
>
  <!-- Imagen de fondo Scotiabank / agencia bancaria -->
  <div
    class="absolute inset-0 bg-cover bg-center bg-no-repeat scale-105"
    style="
      background-image: url('images/backgrounds/login-bg.png');
    "
  ></div>

  <!-- Overlay para mejorar contraste -->
  <!-- <div class="absolute inset-0 bg-slate-950/55 dark:bg-slate-950/65"></div> -->

 

  <!-- Contenido -->
  <div class="relative z-10 py-4 max-w-md w-full">
    <div
      class="relative overflow-hidden rounded-3xl border border-white/80 bg-white/95 p-6 shadow-[0_30px_90px_rgba(0,0,0,0.45)] backdrop-blur-xl md:p-8"
    >
     

      <div class="relative p-4">
        <div class="mb-6 flex justify-center">
          <a href="#">
            <img
              src="images/logo/auth-logo.svg"
              alt="logo"
              class="h-20 object-contain drop-shadow-sm"
            />
          </a>
        </div>

        <div class="text-center">
          <h3
            class="text-slate-900 text-center text-2xl font-bold mb-2"
          >
            Iniciar Sesión
          </h3>

          <p class="text-sm text-slate-600">
            Ingresa tus credenciales para acceder a tu cuenta.
          </p>
        </div>

        <form novalidate class="space-y-6 mt-10" (submit)="onSignIn($event)">
          <div class="flex flex-col gap-1.5 mx-auto w-full">
            <label pLabel for="username" class="font-semibold">
              Nombre de Usuario
            </label>

            <p-iconfield>
              <p-inputicon>
                 <i class="pi pi-user"></i>
              </p-inputicon>

              <input
                [formField]="form.username"
                fluid
                pSize="large"
                pInputText
                id="username"
                placeholder="john.doe"
                class="bg-white!"
              />
            </p-iconfield>

            @if (form.username().touched() && form.username().invalid()) {
              <p-message severity="error" size="small" variant="simple">
                {{ form.username().errors()[0].message }}
              </p-message>
            }
          </div>

          <div class="flex flex-col gap-1.5 mx-auto w-full">
            <label pLabel for="password" class="font-semibold">
              Contraseña
            </label>

            <p-iconfield>
              <p-inputicon>
                <!-- <svg data-p-icon="lock"></svg> -->
                 <i class="pi pi-lock"></i>
              </p-inputicon>

              <input
                fluid
                id="password"
                [formField]="form.password"
                pSize="large"
                pInputPassword
                placeholder="••••••••"
                [(mask)]="mask"
                [fluid]="true"
                class="bg-white!"
              />

              <p-inputicon
                (click)="mask.update((v) => !v)"
                style="cursor: pointer"
              >
              
                  <i class="pi" [class]="mask() ? 'pi-eye' : 'pi-eye-slash'"></i>
              </p-inputicon>
            </p-iconfield>

            @if (form.password().touched() && form.password().invalid()) {
              <p-message severity="error" size="small" variant="simple">
                {{ form.password().errors()[0].message }}
              </p-message>
            }
          </div>

          <button
            [disabled]="form().invalid() || form().pending()"
            pButton
            size="large"
            fluid
            class="mt-4"
          >
            @if (form().pending()) {
              <svg data-p-icon="spinner" class="animate-spin"></svg>
              Cargando...
            } @else {
              Ingresar
            }
          </button>
        </form>
      </div>
    </div>
  </div>
</main>
