<div class="relative">
  <button
    (click)="toggleDropdown()"
    class="flex items-center text-gray-700 dropdown-toggle dark:text-gray-400"
  >
    
    <p-avatar
      [label]="userData().letters"
      shape="circle"
      size="normal"
      class="mr-2"
    />
    <span class="block mr-1 font-medium text-theme-sm">{{
      userData().fullname
    }}</span>
    <svg
      [ngClass]="{
        'stroke-gray-500 dark:stroke-gray-400 transition-transform duration-200': true,
        'rotate-180': isOpen,
      }"
      width="18"
      height="20"
      viewBox="0 0 18 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M4.3125 8.65625L9 13.3437L13.6875 8.65625"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </button>
 
  <app-dropdown
    [isOpen]="isOpen()"
    (close)="closeDropdown()"
    className="absolute right-0 mt-4.5 flex w-65 flex-col rounded-2xl border border-gray-200 bg-white p-3 shadow-theme-lg dark:border-gray-800 dark:bg-gray-dark"
  >
    <div>
      <span
        class="block font-medium text-gray-700 text-theme-sm dark:text-gray-400"
      >
        {{ userData().fullname }}
      </span>
      <span class="mt-0.5 block text-theme-xs text-gray-500 dark:text-gray-400">
        {{ userData().username }}
      </span>
    </div>

    <button
      (click)="authService.logout()"
      class="flex items-center gap-3 px-3 py-2 mt-3 font-medium text-gray-700 rounded-lg group text-theme-sm hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-white/5 dark:hover:text-gray-300"
    >
      <i
        class="pi pi-sign-out text-lg text-gray-500 group-hover:text-gray-700 dark:group-hover:text-gray-300"
      ></i>
      Cerrar sesión
    </button>
  </app-dropdown>
</div>
