/* @import "tailwindcss";
@import "tailwindcss-primeui"; *//* Transición cuando la nueva página entra */
/* Suaviza la transición de los elementos que se transforman */
/* Asegura que el contenedor de destino mantenga proporciones fluidas */
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.2s; /* Desvanecimiento rápido del fondo */
}

/* Suaviza el cambio de tamaño entre la fila de la tabla y la vista de detalles */
::view-transition-group(*) {
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.p-datatable-thead > tr > th {
  background-color: var(--color-primary-500) !important;
  color: white !important; 
}

.p-datatable-sort-icon {
  color: white !important;
}


.p-datatable-sortable-column:not(.p-datatable-column-sorted):hover {
    background-color: var(--color-primary-600) !important;
    color: white !important;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999999999999999999; /* Asegura que esté por encima de todo */
}


.spinner {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff;
  /* Aquí puedes reemplazar el texto con un icono de Material o FontAwesome */
}