<div class="flex flex-wrap items-center justify-between gap-3 mb-6">
  @if (iconTemplate()) {
    <ng-container [ngTemplateOutlet]="iconTemplate()"></ng-container>
  } @else {
    <div class="flex flex-wrap items-center gap-3">
      @if (back()) {
        <button
        pButton
        link
        tooltipPosition="bottom"
        [pTooltip]="tooltipContent"
          class="inline-flex items-center gap-2 text-sm text-primary"
         (click)="onBackClick()"
        >
          <i class="pi pi-arrow-left text-xs!"></i>
       
        </button>
         <ng-template #tooltipContent>
          <span class="text-sm">Volver</span>
            </ng-template>
      }

      <div class="flex flex-wrap items-center gap-2">
        <div class="size-8 bg-primary-50 flex rounded-full">

          <i [class]="'text-lg! text-primary m-auto pi ' + icon()"></i>
        </div>
        <h2 class="text-xl font-semibold text-gray-800 dark:text-white/90">
          {{ pageTitle() }}
        </h2>
      </div>
    </div>
    <nav class="ml-auto">
      <ol class="flex items-center gap-1.5">
        <li>
          <a
            class="inline-flex items-center gap-1.5 text-sm text-gray-500 dark:text-gray-400"
            routerLink="/"
          >
            <i class="pi pi-home text-xs!"></i>
            Inicio
            <i class="pi pi-chevron-right text-xs!"></i>
          </a>
        </li>
        <li
          class="text-sm text-primary gap-1 flex items-center dark:text-white/90"
        >
          <i [class]="'text-xs! pi ' + icon()"></i>
          <span >
            {{ pageTitle() }}
          </span>
        </li>
      </ol>
    </nav>
  }
</div>
