<div
  class="relative flex flex-col items-center justify-center p-6 overflow-hidden z-1"
>
  <div class="mx-auto w-full max-w-60.5 text-center sm:max-w-118">
    <h1
      class="mb-8 font-bold text-gray-800 text-title-md dark:text-white/90 xl:text-title-2xl"
    >
      ERROR
    </h1>

    <div class="mx-auto block h-auto w-full max-w-70 sm:max-w-90 md:max-w-118">
      @switch (statusCode()) {
        @case (HttpStatusCode.Forbidden) {
          <app-forbidden />
        }

        @case (HttpStatusCode.NotFound) {
          <app-not-found />
        }

        @case (HttpStatusCode.BadRequest) {
          <app-bad-request />
        }

        @case (HttpStatusCode.InternalServerError) {
          <app-internal-server-error />
        }

        @default {
          <app-internal-server-error />
        }
      }
    </div>

    <p class="mt-10 mb-6 text-base text-gray-700 dark:text-gray-400 sm:text-lg">
      {{ errorMessage() }}
    </p>
  </div>
</div>
